@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

main{
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
}

main p{
    text-align: justify;
    background-color: darkgray;
    border-radius: 10px;
    padding: 10px;
}
 
main ul{
    background-color: darkgray;
    border-radius: 10px;
    padding: 10px;
    list-style-position: inside;
}
