@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1:'Passion One' , cursive;
    --fonte2:'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
header > h1{
    font-family:var(--fonte1);
    font-variant: small-caps;
    font-size: 10vw;
}
header > p{
    font-size: 1.3em;
}
header  a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family:var(--fonte2);
    font-size: 3.5vw;
    line-height: 2em;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
}

section.img{
    background-color: black;
    color: white;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.404);
}

section.img > p{
    background-color: rgba(0, 0, 0, 0.541);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 1px 0px black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 2vw;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: black;
    background-color: white;
    padding: 15px;
    border: 0.3px solid black;
    border-radius: 10px;
}